// stylelint-disable declaration-no-important

// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .flex-row#{$infix}            { flex-direction: row !important; }
    .flex-col#{$infix}         { flex-direction: column !important; }
    // .flex-row-r#{$infix}    { flex-direction: row-reverse !important; }
    // .flex-col-r#{$infix} { flex-direction: column-reverse !important; }

    .flx-wrap#{$infix}         { flex-wrap: wrap !important; }
    .flx-nowrap#{$infix}       { flex-wrap: nowrap !important; }
    // .flx-wrap-r#{$infix} { flex-wrap: wrap-reverse !important; }

    .jc-start#{$infix}   { justify-content: flex-start !important; }
    .jc-end#{$infix}     { justify-content: flex-end !important; }
    .jc-center#{$infix}  { justify-content: center !important; }
    // .jc-between#{$infix} { justify-content: space-between !important; }
    // .jc-around#{$infix}  { justify-content: space-around !important; }

    .ai-start#{$infix}    { align-items: flex-start !important; }
    .ai-end#{$infix}      { align-items: flex-end !important; }
    .ai-center#{$infix}   { align-items: center !important; }
    .ai-baseline#{$infix} { align-items: baseline !important; }
    // .ai-stretch#{$infix}  { align-items: stretch !important; }

    .ac-start#{$infix}   { align-content: flex-start !important; }
    .ac-end#{$infix}     { align-content: flex-end !important; }
    .ac-center#{$infix}  { align-content: center !important; }
    // .ac-between#{$infix} { align-content: space-between !important; }
    // .ac-around#{$infix}  { align-content: space-around !important; }
    // .ac-stretch#{$infix} { align-content: stretch !important; }

    // .as-auto#{$infix}     { align-self: auto !important; }
    // .as-start#{$infix}    { align-self: flex-start !important; }
    // .as-end#{$infix}      { align-self: flex-end !important; }
    // .as-center#{$infix}   { align-self: center !important; }
    // .as-baseline#{$infix} { align-self: baseline !important; }
    // .as-stretch#{$infix}  { align-self: stretch !important; }
  }
}
