// グリッド設定

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $key, $value in $grid-gutter-width-set {
      .gutter#{$key}#{$infix} {
        margin-left: -($value / 2) !important;
        margin-right: -($value / 2) !important;
        margin-bottom: -($value) !important;
        > [class*="col"] {
          padding-left: ($value / 2) !important;
          padding-right: ($value / 2) !important;
          margin-bottom: $value !important;
          > [class*="inner"] {
            height: 100%;
          }
        }
      }
    }
  }
}
